<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BibliotecaULP</title>

    <environment include="Development">
    </environment>
    <environment exclude="Development">
      
    </environment>
    <link rel="stylesheet" href="~/css/asd.css" />

</head>
<body>
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <ul style="" class=" asd">
                <li> <a style="" asp-area="" asp-controller="Home" asp-action="Index" class="brand-logo text-white"><img src="~/Logo/logo-ulp.png" alt="Alternate Text" style="max-width:38%; max-height:38%; " /></a></li>

                @if (!User.Identity.IsAuthenticated)
                {
                    <li style="float:right"><a asp-area="" asp-controller="Usuario" asp-action="Login" class="waves-effect waves-light"><i class="material-icons left">account_circle</i>Login</a></li>
                }

            </ul>
            <form action="" method="post">
                <div class="input-field">
                    <input id="search" type="search" name="search">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a asp-area="" asp-controller="Documento" asp-action="Search" class="waves-effect waves-light">Buscar Documentos</a></li>
                <li class="tab"><a class="active" href="#test2">Test 2</a></li>
                <li class="tab disabled"><a href="#test3">Disabled Tab</a></li>
                <li class="tab"><a href="#test4">Test 4</a></li>
            </ul>
        </div>
    </nav>

    <!-- <li><a asp-area="" asp-controller="Documento" asp-action="Index" class="waves-effect waves-light"><i class="material-icons left">accessibility</i>Documentos</a></li>
    <li><a asp-area="" asp-controller="Usuario" asp-action="Index" class="waves-effect waves-light"><i class="material-icons left">account_box</i>Usuarios</a></li>
    <li><a asp-area="" asp-controller="Tipo" asp-action="Index" class="waves-effect waves-light"><i class="material-icons left">weekend</i>Tipos</a></li>
    <li><a asp-area="" asp-controller="Tema" asp-action="Index" class="waves-effect waves-light"><i class="material-icons left">assignment</i>Temas</a></li>
    <li><a asp-area="" asp-controller="Carrera" asp-action="Index" class="waves-effect waves-light"><i class="material-icons left">star</i>Carrera</a></li>
    <li><a asp-area="" asp-controller="Materia" asp-action="Index" class="waves-effect waves-light"><i class="material-icons left">accessibility</i>Materia</a></li>
    <li><a asp-area="" asp-controller="Instituto" asp-action="Index" class="waves-effect waves-light"><i class="material-icons left">accessibility</i>Instituto</a></li>
    <li><a asp-area="" asp-controller="Usuario" asp-action="Perfil" class="waves-effect waves-light"><i class="material-icons left">account_circle</i>Perfil</a></li>
    <li><a asp-area="" asp-controller="Usuario" asp-action="Logout" class="waves-effect waves-light"><i class="material-icons left">account_circle</i>Logout</a></li>
    <!--<li style="float:right" class="waves-effect waves-light"><a id="abrir"><i class="large material-icons left">menu</i></a></li>-->
    <main role="main">
        <div class="mt-3">
            <div class="m-1 p-1">
                @RenderBody()
            </div>
        </div>
    </main>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script type="text/javascript">

            $(document).ready(function () {
                $('select').formSelect();
            });

        </script>


    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>


    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Tutorial.jsx" asp-append-version="true"></script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
