@model BibliotecaULP.Models.LoginView


@{
    ViewData["Title"] = "Home Page";
}
<style>
    .container-1 {
        display: flex;
        align-items: center;
        background-color: white;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: lightgray;
        border-radius: 10px;
        margin-top: 10px;
        /*
      align-items:flex-start;
      align-items:flex-end;


      flex-direction:column;
      */
    }

    .box-1 {
        flex: 1;
        order: 1;
        padding-left: 25px;
    }

    .box-2 {
        flex: 1;
        order: 1;
    }

    .box-3 {
        flex: 1;
        order: 2;
    }

    .ultimosdocumentos {
        margin-top: 40px;
    }

    .section-right {
        flex-direction: column;
        order: 2;
        margin-left: 17px;
        align-items: flex-start;
        padding-right: 25px;
    }

    p {
        margin: 0;
    }

    .titulo-box {
        padding-top: 10px;
    }

    .texto-descripcion {
        font-size: 12px;
    }

    .texto-footer {
        font-size: 11px;
        padding-top: 3px;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: white;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: lightgray;
        border-radius: 10px;
        margin-top: 10px;
    }

    .right-column {
        margin-top: 60px;
    }

    .right-1 {
        flex: 1;
        order: 1;
    }

    .right-2 {
        flex: 1;
        order: 2;
    }

    .right-3 {
        flex: 1;
        order: 3;
    }

    .texto-right {
        padding-right: 20px;
    }

    .left-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: lightgray;
        border-radius: 10px;
        margin-top: 40px;
    }

    .fleximage {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 90%;
        padding-top: 30px;
    }

    
</style>


<div id="home">
    <div class="row">
        <div class="col s4">
            <div class="left-column" style=" width: 75%; margin-left: 45px; ">
                <form class="login-form" asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group input-field row s12">
                        <label asp-for="Email" class="control-label text-uppercase">Email</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group input-field row s12">
                        <label asp-for="Clave" class="control-label text-uppercase"></label>
                        <input asp-for="Clave" class="form-control" />
                        <span asp-validation-for="Clave" class="text-danger"></span>
                    </div>
                    <div class="form-check" style="padding-left: 27px">
                        <button type="submit" class="btn btn-small" style="margin-bottom: 30px; ">Ingresar</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="col s4 ultimosdocumentos">
            <div class="container-1" style="">
                <div class="box-1">
                    <img src="~/icons/pdf.png" />
                </div>
                <div class="section-right">
                    <div class="box-2" style=" margin-top: -20px">

                        <h5 class="titulo-box">U1 - Metodologias de Desarrollo</h5>
                        <p class="texto-descripcion">¿Que es una metodologia de desarrollo? Primeros Pasos en la materia</p>
                    </div>
                    <div class="box-3">
                        <p class="texto-footer" style="margin-bottom:10px">Autor: <a>Saez juan</a></p>
                    </div>

                </div>

            </div>


            <div class="container-1">
                <div class="box-1">
                    <img src="~/icons/pdf.png" />
                </div>
                <div class="section-right">
                    <div class="box-2" style=" margin-top: -20px">

                        <h5 class="titulo-box">U1 - Metodologias de Desarrollo</h5>
                        <p class="texto-descripcion">¿Que es una metodologia de desarrollo? Primeros Pasos en la materia</p>
                    </div>
                    <div class="box-3">
                        <p class="texto-footer" style="margin-bottom:10px">Autor: <a>Saez juan</a></p>
                    </div>

                </div>

            </div>


            <div class="container-1" style="">
                <div class="box-1">
                    <img src="~/icons/pdf.png" />
                </div>
                <div class="section-right">
                    <div class="box-2" style=" margin-top: -20px">

                        <h5 class="titulo-box">U1 - Metodologias de Desarrollo</h5>
                        <p class="texto-descripcion">¿Que es una metodologia de desarrollo? Primeros Pasos en la materia</p>
                    </div>
                    <div class="box-3">
                        <p class="texto-footer" style="margin-bottom:10px">Autor: <a>Saez juan</a></p>
                    </div>

                </div>

            </div>


            <div class="container-1">
                <div class="box-1">
                    <img src="~/icons/pdf.png" />
                </div>
                <div class="section-right">
                    <div class="box-2" style=" margin-top: -20px">

                        <h6 class="titulo-box">U1 - Metodologias de Desarrollo</h6>
                        <p class="texto-descripcion">¿Que es una metodologia de desarrollo? Primeros Pasos en la materia</p>
                    </div>
                    <div class="box-3">
                        <p class="texto-footer" style="margin-bottom:10px">Autor: <a>Saez juan</a></p>
                    </div>

                </div>

            </div>



        </div>
        <div class="col s4">
            <div class="right-column">
                <div class="about" style=" width: 90%">
                    <div class="right-1">
                        <h5 class="texto-right"> Institucional </h5>
                    </div>
                    <div class="right-2">
                        <h5 class="texto-right">Preguntas Frequentes</h5>
                    </div>
                    <div class="right-3">
                        <h5 class="texto-right"> Contacto </h5>
                    </div>
                </div>
               
                <div style="margin-top: 50px">

                    <img src="~/icons/banner1.jpg" style="max-width : 100%" class="fleximage" />

                    <img src="~/icons/banner2.jpg" style="max-width : 100%" class="fleximage" />

                    <img src="~/icons/banner3.jpg" style="max-width : 100%" class="fleximage" />

                </div>
            </div>
        </div>
    </div>
</div>
