@model IEnumerable<BibliotecaULP.Models.Documento>

@{
    ViewData["Title"] = "Home Page";
}

<div id="home">
    <div class="row">
        <div class="col s4">
            Primera de tres columnas
        </div>
        <div class="col s4">
            <div class="container">
                <div style="float: left; background-color: red;">Imagen</div>
                <div>TITULO</div>

            </div>
        </div>
        <div class="col s4">
            Tercera de tres columnas
        </div>
    </div>
</div>
