@model BibliotecaULP.Models.Documento

@{
    ViewData["Title"] = "Create";
}
<head>


    <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.11.3.min.js"></script>
    <!--<script src="/js/aspnetcorefileuploading.js"></script>-->
    <script src ="~/js/Create.js"></script>
</head>
<h1>Create</h1>

<h4>Documento</h4>
<hr />
<div class="row container">
    <div class="col s12">
       
       
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" id="Nombre" name="Nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId" id="UsuarioId" name="UsuarioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoId" class="control-label"></label>
                <select asp-for="TipoId" class="form-control" asp-items="ViewBag.TipoId" id="TipoId" name="TipoId"></select>
            </div>
            <select id="CarreraId" name="CarreraId" asp-items="ViewBag.CarreraId" contenteditable="false" onchange="dropMaterias();">
                <option value="" disabled selected>Carrera</option>
            </select>
            <select class="form-group col s12" id="Año" name="Año" onchange="dropAño();">
                <option value="" id="Año" name="Año" disabled selected>Año</option>
                <option value="1">1er Año</option>
                <option value="2">2do Año</option>
                <option value="3">3er Año</option>
            </select>
            <div class="form-group col s6">
                <select asp-for="MateriaId" class="form-control" id="MateriaId" name="MateriaId" onchange="dropSegundo();">
                    <option value="" disabled selected>Materia</option>
                </select>
            </div>
            <div class="form-group col s6">
                <select asp-for="TemaId" class="form-control" id="TemaId" name="TemaId">
                    <option value="" disabled selected>Tema</option>
                </select>
            </div>
            <div class="form-group">
                <input asp-validation-for="Archivo" asp-for="Archivo" accept="video/*,.pdf,.doc,.docx" /> SELECCIONAR Archivo
                <span  class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>


        </form>

    </div>

   
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    $(document).ready(function () {

      

    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
