@model BibliotecaULP.Models.Documento

@{
    ViewData["Title"] = "Create";
}
<head>
   

    <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.11.3.min.js"></script>
    <script src="/js/aspnetcorefileuploading.js"></script>
</head>
<h1>Create</h1>

<h4>Documento</h4>
<hr />
<div class="row container">
    <div class="col-md-4">
        <a href=""</a>
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" id="Nombre" name="Nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId" id="UsuarioId" name="UsuarioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoId" class="control-label"></label>
                <select asp-for="TipoId" class="form-control" asp-items="ViewBag.TipoId" id="TipoId" name="TipoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TemaId" class="control-label"></label>
                <select asp-for="TemaId" class="form-control" asp-items="ViewBag.TemaId" id="TemaId" name="TemaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MateriaId" class="control-label"></label>
                <select asp-for="MateriaId" class="form-control" asp-items="ViewBag.MateriaId" id="MateriaId" name="MateriaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaSubida" class="control-label"></label>
                <input asp-for="FechaSubida" class="form-control" id="fecha" name="fecha" />
                <span asp-validation-for="FechaSubida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="files" name="files" asp-for="Archivo" accept="video/*,.pdf,.doc,.docx" /> SELECCIONAR Archivo
                <span asp-validation-for="Archivo" class="text-danger"></span>
            </div>





        </form>

        <div class="">
            <input type="" value="Create" class="btn btn-primary" onclick="uploadFiles('files');" />
        </div>

        <div class="progress">
            <div class="determinate" id="determinate" style="width: 0%"></div>
        </div>
    </div>

   
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
