@model BibliotecaULP.Models.SearchView


@{
    ViewData["Title"] = "Search";
}
<head>
    <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.11.3.min.js"></script>

    <script src="/js/SearchDrops.js"></script>

</head>

<style>
    .bold {
        font-weight: bold;
    }
</style>

<div class="section">
    <div class="row">
        <div class="col s4">
            <div class="container">
                <form asp-action="Search" method="post">
                    <div class="input-field">
                        <i class="material-icons prefix">search</i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Buscar</label>
                    </div>


                    <div class="bold">
                        Filtros
                    </div>
                    <select asp-for="InstitutoId" class="form-control" asp-items="ViewBag.InstitutoId" id="InstitutoId" name="InstitutoId" onchange="drop1();">
                        <option value="" disabled selected>Instituto</option>
                    </select>

                    <!--  <div class="divider"></div>-->
                    <select asp-for="CarreraId" id="CarreraId" name="CarreraId" contenteditable="false" onchange="drop2();">
                        <option value="" disabled selected>Carrera</option>
                    </select>
                    <select onchange="drop2();" id="Año" name="Año">
                        <option value="" id="Año" name="Año" disabled selected>Año</option>
                        <option value="1">1er Año</option>
                        <option value="2">2do Año</option>
                        <option value="3">3er Año</option>
                    </select>

                    <select id="Materia" name="Materia" onchange="drop3();">
                        <option value="" disabled selected>Materia</option>
                    </select>
                    <select id="TemaId" name="Tema">
                        <option value="" disabled selected>Tema</option>
                    </select>

                    <div class="z-depth-2">
                        <ul class="collection with-header">
                            <li class="collection-header grey lighten-1 valign-wrapper">
                                <i class="material-icons">class</i> <span class="bold">Tipos</span>
                            </li>
                            <li class="collection-item">
                                <div class="input-field">
                                    @foreach (var item in (IList<Tipo>)ViewBag.Tipos)
                                    {
                                        <div>
                                            <label>
                                                <input type="checkbox" class="filled-in" />
                                                <span>@item.Nombre</span>
                                            </label>
                                        </div>
                                    }

                                </div>
                            </li>

                        </ul>
                    </div>



                </form>
        </div>
        </div>
        <div class="col s7">
            <div class="card horizontal valign-wrapper">
                <div class="card-image">
                    <div class="container">
                        <i class="medium material-icons">library_books</i>
                    </div>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>U1 - Metodologias de Desarrollo</h5>
                        <div>¿Que es una metodologia de desarrollo? Primeros Pasos en la materia</div>
                    </div>
                    <div class="card-action">
                        <span>Autor: <a href="#" class="blue-text text-darken-4">Saez Cristina</a></span>
                        <span>Tema: <a href="#" class="blue-text text-darken-4">Casos de Usos</a></span>
                        <span>Tipo: <a href="#" class="blue-text text-darken-4">PDF</a></span>
                    </div>
                </div>
            </div>
            <div class="card horizontal valign-wrapper">
                <div class="card-image">
                    <div class="container ">
                        <i class="medium material-icons">library_books</i>
                    </div>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>U1 - Metodologias de Desarrollo</h5>
                        <div>¿Que es una metodologia de desarrollo? Primeros Pasos en la materia</div>
                    </div>
                    <div class="card-action">
                        <span>Autor: <a href="#" class="blue-text text-darken-4">Saez Cristina</a></span>
                        <span>Tema: <a href="#" class="blue-text text-darken-4">Casos de Usos</a></span>
                        <span>Tipo: <a href="#" class="blue-text text-darken-4">PDF</a></span>
                    </div>
                </div>
            </div>
            <div class="card horizontal valign-wrapper">
                <div class="card-image">
                    <div class="container ">
                        <i class="medium material-icons">library_books</i>
                    </div>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>U1 - Metodologias de Desarrollo</h5>
                        <div>¿Que es una metodologia de desarrollo? Primeros Pasos en la materia</div>
                    </div>
                    <div class="card-action">
                        <span>Autor: <a href="#" class="blue-text text-darken-4">Saez Cristina</a></span>
                        <span>Tema: <a href="#" class="blue-text text-darken-4">Casos de Usos</a></span>
                        <span>Tipo: <a href="#" class="blue-text text-darken-4">PDF</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>