
@{
    ViewData["Title"] = "Search";
}

<style>
    .bold{
       font-weight: bold;
    }
</style>

<div class="section">
    <div class="row">
        <div class="col s4">
            <div class="container">
                <form action="" method="post">
                    <div class="input-field">
                        <i class="material-icons prefix">search</i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Buscar</label>
                    </div>
                    <div class="section">
                        <div class="chip">
                            Tag
                            <i class="close material-icons">close</i>
                        </div>
                        <div class="chip">
                            Tag1
                            <i class="close material-icons">close</i>
                        </div>
                        <div class="chip">
                            Tag2
                            <i class="close material-icons">close</i>
                        </div>
                    </div>
                    <div class="bold">
                        Filtros
                    </div>
                    <select>
                        <option value="" disabled selected>Instituto</option>
                        <option value="1">Instituto tecnologico</option>
                        <option value="2">Instituto de artes</option>
                    </select>
                    <div class="divider"></div>
                    <select>
                        <option value="" disabled selected>Carrera</option>
                        <option value="1">Tec. desarrollo de software</option>
                        <option value="2">Tec. desarrollo de videojuegos</option>
                        <option value="3">Tec. en turismo</option>
                    </select>
                    <div class="z-depth-2">
                        <ul class="collection with-header">
                            <li class="collection-header grey lighten-1 valign-wrapper">
                                <i class="material-icons">class</i> <span class="bold">Tipos</span>
                            </li>
                            <li class="collection-item">
                                <div class="input-field">
                                    <div>
                                        <label>
                                            <input type="checkbox" class="filled-in" />
                                            <span>Opcion 1</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="checkbox" class="filled-in" />
                                            <span>Opcion 2</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="checkbox" class="filled-in" />
                                            <span>Opcion 3</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="checkbox" class="filled-in" />
                                            <span>Opcion 4</span>
                                        </label>
                                    </div>
                                </div>
                            </li>
                            <li class="collection-header grey lighten-1 valign-wrapper">
                                <i class="material-icons">description</i> <span class="bold">Temas</span>
                            </li>
                            <li class="collection-item">
                                <div class="input-field">
                                    <div>
                                        <label>
                                            <input type="checkbox" class="filled-in" />
                                            <span>Opcion 1</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="checkbox" class="filled-in" />
                                            <span>Opcion 2</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="checkbox" class="filled-in" />
                                            <span>Opcion 3</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="checkbox" class="filled-in" />
                                            <span>Opcion 4</span>
                                        </label>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>           
        </div>
        <div class="col s7">
            <div class="card horizontal valign-wrapper">
                <div class="card-image">
                    <div class="container">
                        <i class="medium material-icons">library_books</i>
                    </div>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>U1 - Metodologias de Desarrollo</h5>
                        <div>¿Que es una metodologia de desarrollo? Primeros Pasos en la materia</div>
                    </div>
                    <div class="card-action">
                        <span>Autor: <a href="#" class="blue-text text-darken-4" >Saez Cristina</a></span>
                        <span>Tema: <a href="#" class="blue-text text-darken-4">Casos de Usos</a></span>
                        <span>Tipo: <a href="#" class="blue-text text-darken-4">PDF</a></span>
                    </div>
                </div>
            </div>
            <div class="card horizontal valign-wrapper">
                <div class="card-image">
                    <div class="container ">
                        <i class="medium material-icons">library_books</i>
                    </div>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>U1 - Metodologias de Desarrollo</h5>
                        <div>¿Que es una metodologia de desarrollo? Primeros Pasos en la materia</div>
                    </div>
                    <div class="card-action">
                        <span>Autor: <a href="#" class="blue-text text-darken-4">Saez Cristina</a></span>
                        <span>Tema: <a href="#" class="blue-text text-darken-4">Casos de Usos</a></span>
                        <span>Tipo: <a href="#" class="blue-text text-darken-4">PDF</a></span>
                    </div>
                </div>
            </div>
            <div class="card horizontal valign-wrapper">
                <div class="card-image">
                    <div class="container ">
                        <i class="medium material-icons">library_books</i>
                    </div>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>U1 - Metodologias de Desarrollo</h5>
                        <div>¿Que es una metodologia de desarrollo? Primeros Pasos en la materia</div>
                    </div>
                    <div class="card-action">
                        <span>Autor: <a href="#" class="blue-text text-darken-4">Saez Cristina</a></span>
                        <span>Tema: <a href="#" class="blue-text text-darken-4">Casos de Usos</a></span>
                        <span>Tipo: <a href="#" class="blue-text text-darken-4">PDF</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>